.player {
	cursor: default;
}

.player .header {
	width: 480px;
	height: 23px;
	background: #AAAAAA;
	border: solid 1px black;
	border-bottom: none;
}

.player .title {
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
	margin: 3px 3px;
}

.player .button {
	position: relative;
	float: right;
	margin: 0px 5px;
	background: url('icons.png');
}

.player .stop {
	background-position: -17px 0px;
	width: 17px;
	height: 17px;
	top: 3px;
}

.player .stop:hover {
	background-position: -17px -17px;
}

.player .start {
	background-position: -17px -34px;
	width: 20px;
	height: 17px;
	top: 3px;
}

.player .start:hover {
	background-position: -17px -51px;
}

.player input[type="checkbox"] {
	width: 17px;
	height: 17px;
	top: 3px;
	background-position: 0px -34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.player input[type="checkbox"]:hover {
	background-position: 0px -51px;
}

.player input[type="checkbox"]:checked {
	background-position: 0px 0px;
}

.player input[type="checkbox"]:checked:hover {
	background-position: 0px -17px;
}

.player .status {
	float: right;
	font: bold 10px Arial, Helvetica, sans-serif bold;
	color: #FFFF00;
	margin: 5px 3px;
}

.player canvas {
	border: solid 1px black;
}